<script type="text/javascript">var submitted=false;</script>
<iframe  name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
<form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/1I4Y-YYa3HavlvQ_VjpsgiP_3zFNwedx95mpBJpwFGkQ/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
<div class="floating-form" id="contact_form">
<div class="contact-opener">FREE CONSULTATION</div>
  <div class="floating-form-heading">Contact and receive a Feedback about your Project, Website or Idea.</div>
  <div id="contact_results"></div>
  <div id="contact_body">
      <label><span>Name<span class="required">*</span></span>
      	<input type="text" class="form-control" placeholder="Your name" name="entry.425654529" id="entry.425654529">
      </label>
      <label><span>Email<span class="required">*</span></span>
<input type="email" class="form-control" placeholder="Your E-mail"  name="entry.1594733512" id="entry.1594733512">

      </label>
      <label><span>Phone/Whatsapp</span>
      	 <input type="telefone" class="form-control" placeholder="Your Phone/Whatsapp" name="entry.394741092" id="entry.394741092">
          </label>

      	<label for="field5"><span>Details<span class="required">*</span></span>
      	  <textarea class="form-control" cols="15" rows="8" placeholder="Talk about your project, app or idea. If you already have something online, paste the link here. We can talk about UX Design, Dev, Blockchain, Strategies, Niche, and others" name="entry.549551185" id="entry.549551185"></textarea>           </label>
      <label>
           <button type="submit" value="Send" class="btn main-cta">Get Feedback<i id=ico class="ico ico-2x icon-chevron-right"></i></button>
           </label>
  </div>
</div>
  </form>
       <iframe  name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
