<script type="text/javascript">var submitted=false;</script>
<iframe  name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
<form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/1I4Y-YYa3HavlvQ_VjpsgiP_3zFNwedx95mpBJpwFGkQ/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
<div class="floating-form" id="contact_form">
<div class="contact-opener">CONSULTA GRÁTIS</div>
  <div class="floating-form-heading">Entre em contato e receba um Feedback MEU sobre o seu Projeto, Website ou Idéia.</div>
  <div id="contact_results"></div>
  <div id="contact_body">
      <label><span>Nome<span class="required">*</span></span>
      	<input type="text" class="form-control" placeholder="Seu Nome" name="entry.425654529" id="entry.425654529">
      </label>
      <label><span>Email<span class="required">*</span></span>
<input type="email" class="form-control" placeholder="Seu E-mail"  name="entry.1594733512" id="entry.1594733512">

      </label>
      <label><span>Telefone/Whatsapp</span>
      	 <input type="telefone" class="form-control" placeholder="Seu Telefone/Whatsapp" name="entry.394741092" id="entry.394741092">
          </label>

      	<label for="field5"><span>Detalhes<span class="required">*</span></span>
      	  <textarea class="form-control" cols="15" rows="8" placeholder="Fale sobre seu projeto, website ou idéia. Se já possuir algo online, cole o link de acesso aqui. Podemos falar de UX Design, SEO, Marketing Digital, Estratégias, Nicho, e outros" name="entry.549551185" id="entry.549551185"></textarea>           </label>
      <label>
           <button type="submit" value="Enviar" class="btn main-cta">Receber Feedback<i id=ico class="ico ico-2x icon-chevron-right"></i></button>
           </label>
  </div>
</div>
  </form>
       <iframe  name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
