{% if page.show-share or page.show-subscribe %}
<div>
  <div class="share-section">
    <h2 class="share-title">Gostou do meu Conteúdo?</h2>

    {% if page.show-share %}
      <div class="share-buttons">
        {% capture urlmessage %}{{ site.url }}/aboutme{% endcapture %}

        {% capture urlfb %}https://www.facebook.com/dialog/feed?app_id={{ site.fb_app_id }}&link={{ site.url }}{{ page.url }}&name={{ page.title }}&caption={{ site.url-pretty }}&redirect_uri={{ site.url }}{{ page.url }}?message=Obrigado por compartilhar!{% endcapture %}
        {% if page.share-img %}
          {% capture urlfb %}{{ urlfb }}&picture={{ page.share-img }}{% endcapture %}
        {% endif %}

        {% capture urltwitter %}https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via=AndreDefremont{% endcapture %}
        {% if page.tags contains 'rstats' %}
          {% assign maxlength = 94 %}
          {% capture urltwitter %}{{ urltwitter }}&hashtags=rstats{% endcapture %}
        {% else %}
          {% assign maxlength = 102 %}
        {% endif %}
        {% capture urltwitter %}{{ urltwitter }}&text={{ page.title | truncate: maxlength }}{% endcapture %}
        <a id="gold" target="_blank" href="https://pag.ae/bfkhQtM" data-ga-event=1 data-ga-category="share" data-ga-action="donate" data-ga-label="{{ page.url }}">
          Doar (PagSeguro)
        </a>

        <a target="_blank" href="{{ urlmessage }}" data-ga-event=1 data-ga-category="share" data-ga-action="message" data-ga-label="{{ page.url }}">
          Entrar em contato
        </a>
        <!--
        <a href="{{ urlfb }}" data-ga-event=1 data-ga-category="share" data-ga-action="facebook" data-ga-label="{{ page.url }}">
          Compartilhar no Facebook
        </a>
        -->


        <a id="gold" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=58XHZE47V77N2" data-ga-event=1 data-ga-category="share" data-ga-action="donate" data-ga-label="{{ page.url }}">
          Doar (PayPal)
        </a>
         <!--<a href="{{ urltwitter }}" data-ga-event=1 data-ga-category="share" data-ga-action="twitter" data-ga-label="{{ page.url }}">
          Twitar
        </a>-->
      </div>
    {% endif %}

    {% if page.show-subscribe %}
      <!-- MailChimp Signup Form -->
      <div id="mailchimp-subscribe-section-2">
        <div id="mc_embed_signup-2">
          <form action="//defremont.us15.list-manage.com/subscribe/post?u=8827eade9509ec19e130a08cc&amp;id=6673e6dcd7" method="post" id="mc-embedded-subscribe-form-2" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll-2">
      	      <label for="mce-EMAIL-2">Se inscreva para receber mais notícias</label>
              <div class="container">
                <div class="row">
                  <div class="col-xs-8">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-2" placeholder="Email" required="">
                  </div>
                  <div class="col-xs-4">
                    <input type="text" value="" name="FNAME" class="text" id="mce-FNAME-2" placeholder="Nome" required="">
                  </div>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a579a88c8f09f9b8502b9d0c3_c180f5773c" tabindex="-1" value=""></div>
              <input type="submit" value="Inscrever-se" name="subscribe" id="mc-embedded-subscribe-2" class="button">
            </div>
          </form>
        </div>
      </div>
    {% endif %}
      <br>
<div class="hover_img">
     <a target="_blank">Pay a coffee (Bitcoin): 3AWjtLychqAHRo2LtfgUnEM1D3THLTCZNE
    <span><img src="https://qrcode.kaywa.com/img.php?s=7&d=3AWjtLychqAHRo2LtfgUnEM1D3THLTCZNE" alt="image" height="100" /></span></a>
</div>
  </div>
</div>
{% endif %}
