---
common-css:
- "/css/bootstrap.min.css"
- "/css/bootstrap-social.css"
- "/css/main.css"
common-ext-css:
- "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
- Open+Sans|Quicksand:700
common-js:
- "/js/jquery-1.11.2.min.js"
- "/js/bootstrap.min.js"
- "/js/main.js"
---

<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body>
    {% include preload.html %}
    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
